@font-face {
  font-family: "Poppins";
  src: url("../assets/Font/Poppins-Black.ttf");
  src: url("../assets/Font/Poppins-Light.ttf");
  src: url("../assets/Font/Poppins-Medium.ttf");
  src: url("../assets/Font/Poppins-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  height: 80vh;
}

.info-game-box {
  display: flex;
  width: 50%;
  padding: 20px;
  font-size: 1.5rem;
}

.info-game-box button {
  padding: 10px 20px 10px 20px;
  background-color: rgb(0, 255, 0);
  border: none;
  outline: none;
}

.info-game-box button:hover {
  cursor: pointer;
}

.score-box {
  position: absolute;
  width: 50%;
  margin-left: 15%;
}

.time-box {
  position: absolute;
  width: 100%;
  margin-left: 30%;
}

.game-box {
  display: flex;
  margin-top: 1em;
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 50%;
  padding: 0px 20px 0px 20px;
  padding-top: 25%;
  height: 80px;
  position: relative;
}

.game-box img {
  position: absolute;
  transition: 0.25s;
  animation: animeTarget 10s infinite;
}

@keyframes animeTarget {
  to {
    transform: translateY(-200px) rotate(90deg);
    display: none;
  }
}
